.wrapper {
  z-index: 2;
  background: #fff;
  border: none;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  padding: 50px;
  border-radius: 2px;
  flex-direction: column;
  justify-content: flex-end;
  width: 360px;
  min-height: 480px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06);
  position: relative;
  align-items: center;
  transition: 0.15s ease-in-out all;
  overflow: hidden;
  img {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
  }
  &:nth-child(2) {
    box-shadow: 0 0 22px rgba(255, 97, 150, 0.11);
    img {
      top: 80px;
    }
  }
  h5,
  img {
    z-index: 1;
    transition: 0.2s all ease-out;
  }
  &:after {
    background: #ff6172;
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(100%, 100%) rotate(45deg);
    opacity: 0;
    transition: 0.2s all ease-out;
  }
  &:hover {
    transform: scale(1.02);
    &:after {
      transform: translate(0, 0);
      opacity: 1;
    }
    h5 {
      color: #fff;
    }
  }
}

@media (max-width: 1212px) {
  .wrapper {
    width: 240px;
    min-height: 320px;
    img {
      width: 80%;
    }
    &:nth-child(2) {
      img {
        top: 70px;
      }
    }
  }
}

@media (max-width: 862px) {
  .wrapper {
    padding: 10px;
    width: 100%;
    img {
      top: 25px;
      width: 260px;
    }
  }
}
